html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

html, body {
  overflow: auto;
}

body {
  margin: 0;
  /* height: 100vh; */
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
#root {
  float: left;
  width: 100%;
}

/* Layout */
.primary-container {
  margin-top: 20px;
}
.grid-container {
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #3B82F6;
  height: 50px;
}

main {
  /* grid-area: main;
  padding: 1rem; */
  float: left;
  width: 100%;
}

footer {
  grid-area: footer;
  background-color: #3B82F6;
  height: 50px;
  color: #fff;
  float: left;
  width: 100%;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

.mr-20 {
  margin-right: 20px;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

#fade-button {
  color: #fff;
  font-size: 1.6rem;
}
#fade-button:hover {
  border: none;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}

/* Header */
header {
  color: #fff;
  padding: 1rem;
}
header div a {
  color: #fff;
}
a.brand {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}

.min-30 {
  min-width: 30rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}
img.custom-image { 
  max-width: 29rem;
  width: 100%;
  max-height: 600px;
  height: 100%;
}

/* SLIDER */
.slider-cover {
  float: left;
  width: 100%;
  height: 500px;
}

.slider-cover .desc {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* for IE 9 */
  -webkit-transform: translate(-50%, -50%); /* for Safari */
}

.slider-cover .desc h2.title {
  font-size: 32px;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.slider-cover .desc p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}


/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.custom-card {
  overflow: visible !important;
}

.custom-item, .custom-card {
  box-shadow: none !important;
  border-radius: 0 !important;
}

.custom-item {
  border:solid 1px #ccc9c9;
}

.custom-card-content a h2 {
  font-size: 18px;
  color: #1F2937;
  font-weight: 300;
    text-transform: uppercase;
}

.custom-card-content .rating span {
  font-size: 14px;
  font-weight: 300;
}

.custom-card-content .price {
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
}

.custom-card img {
  border-radius: 0;
}

.test {
  z-index: 9999;
  background-color: red;
}

.price {
  font-size: 2rem;
}

/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

/* font-SIZE */
.fontSize, .fontSize a {
  font-size: 1.6rem !important;
  color: #333 !important;
}
.fontSize-avatar {
  color: #fff;
  font-size: 1.6rem !important;
}

/* AVATAR ICON */
.avatar-icon {
  margin-left: 10px !important;
}
.avatar-icon:hover {
  border: 0;
}

/* SPINNER */
.spinner-box {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.three-quarter-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #fb5b53;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin .5s linear 0s infinite;
}

/* END SPINNER */

/* PRODUCT DETAILS */
.product-details {
  padding: 20px;
}
.product-details-image {
  width: 100%;
}

.product-details-image img {
  width: auto;
  max-height: 500px;
  margin: 0 auto;
  display: block;
  border: solid 1px;
  border-radius: 0;
}

.product-details h1 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.product-details ul li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* END PRODUCT DETAILS */

/* SEARCH FILTER */
.search-filter-main {
  display: block;
  float: left;
  width: 100%;
}
.search-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  margin: 40px 0;
  border-top: 1px dashed rgba(#2e7bf7, 0.1);
  border-bottom: 1px dashed rgba(#2e7bf7, 0.1);
}
.search-filters input[type="text"] {
  display: block;
  flex: 1;
  padding: 10px 0;
  outline: none;
  font-family: inherit;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  border: none;
  background: none;
}
.search-filters::placeholder {
  font-style: italic;
  color: rgba(#000, 0.3);
}

.search-filters > div {
  display: flex;
  align-items: center;
}

.search-filters > p {
    margin: 0 20px 0 0;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    text-align: right;
}

.search-filters > span {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
}


.search-filters .slider {
  min-width: 200px;
  height: 30px;
}
  
.search-filters .slider .track {
    top: 50%;
    height: 8px;
    margin: -4px 0 0;
    background: #3B82F6;
    border-radius: 99px;
  }

  .search-filters .slider .track-1 {
    background:#2868cf
  }

  .search-filters .slider .thumb {
    top: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    transform: translate(0, -50%);
    background: #3B82F6;
    border-radius: 4px;
    transition: 120ms background-color;
  }

  .search-filters .slider:before {
      content: attr(aria-valuenow);
      position: absolute;
      left: 50%;
      bottom: 100%;
      font-size: 12px;
      font-style: italic;
      line-height: 20px;
      padding: 0 5px;
      color: #fff;
      background: rgba(#000, 0.8);
      border-radius: 4px;
      opacity: 0;
      transform: translate(-50%, -5px) scale(0.5);
      transform-origin: center 25px;
      transition: 120ms transform ease-in-out, 120ms opacity;
      pointer-events: none;
    }

    .search-filters .slider:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 100%;
      opacity: 0;
      border: 3px solid transparent;
      border-top-color: rgba(#000, 0.8);
      transform: translate(-50%, 0) scale(0.5);
      transform-origin: center bottom;
      transition: 120ms transform ease-in-out, 120ms opacity;
      pointer-events: none;
    }

  .search-filters .slider:hover:before, .search-filters .slider:hover.active:before {
      opacity: 1;
      transform: translate(-50%, -5px) scale(1);
    }

  .search-filters .slider:hover:after, .search-filters .slider:hover:after {
    opacity: 1;
    transform: translate(-50%, 1px) scale(1);
    }
/* END SEARCH FILTER */

/* IMAGE DETAILS */
.carousel-container {
  margin: 20px;
}

.selected-image {
  width: 100%;
  height: 500px;
  margin-bottom: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel {
  position: relative;
}

/* .carousel__images {
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
} */

.carousel__image-selected {
  border: 3px solid #ffa700 !important;
}

.carousel__image {
  margin-right: 10px;
  height: 150px;
  /* min-width: 150px; */
  border: 3px solid #ffa70000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel__button {
  position: absolute;
  top: 40%;
}

.carousel__button-left {
  left: 10px;
  background-image: url('./pages/products/images/prev.png');
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-position: center;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 10%);
  z-index: 9999;
}

.carousel__button-right {
  right: 10px;
  background-image: url('./pages/products/images/next.png');
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-position: center;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 10%);
  z-index: 9999;
}
/* END IMAGE_DETAILS */

/* KEYFRAMES */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}